html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, address, code, em, img, q, s, strong, b, u, i, center, ol, ul, li, form, label, table, tbody, tr, th, td, article, details, embed, footer, header, nav, section, time, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

article, details, footer, header, nav, section {
  display: block;
}

body {
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  color: #8D8E90;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:after {
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: #1C1D21 url("../img/bg-static.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  text-align: justify;
  margin-bottom: 1em;
  line-height: 2em;
}

ul {
  list-style: none;
}

q {
  quotes: none;
}

q:before,q:after {
  content: '';
  content: none;
}

b {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.ttf');
  src: url('../fonts/HelveticaNeue.otf');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../fonts/HelveticaNeueMedium.ttf');
  src: url('../fonts/HelveticaNeueMedium.otf');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.ttf');
  src: url('../fonts/HelveticaNeueLight.otf');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Regular.otf');
}

.white {
  color: #ffffff;
}

.custom-blue {
  color: #41B6E6;
}

.custom-darker-blue {
  color: #003c54;
}

/* General Containers */

.main-content {
  padding-top: 60px;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .container {
    width: 100%;
    max-width: 930px;
  }
}

.section {
  padding: 45px 0;
}

.row {
  width: 100%;
  max-width: 930px;
  padding: 25px 30px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.row > div {
  margin: 0 15px;
}

.row > div:first-of-type {
  margin-left: 0;
}

.row > div:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .row > * {
    width: 100% !important;
  }

  .row > div {
    margin: 24px 0;
  }

  .row > div:first-of-type {
    margin-top: 0;
  }

  .row > div:last-of-type {
    margin-bottom: 0;
  }
}

.row.no-padding-bottom {
  padding-bottom: 0;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.3333%;
}

.col-8 {
  width: 66.6667%;
}

.col-7 {
  width: 58.3333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.6667%;
}

.col-4 {
  width: 33.3333%;
}

.col-3 {
  width: 25%;
}

.col-2_4 {
  width: 20%;
}

.col-2 {
  width: 16.6667%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0 !important;
  height: 0;
}

/* General Text */

h1, h2, h3, h4, h5 {
  font-family: 'HelveticaNeueLight';
  color: #ffffff;
  padding-bottom: 12px;
}

h1, h2 {
  font-family: 'SourceCodePro';
  text-align: center;
  color: #41B6E6;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.09em;
  color: #E9E9EA;
  display: table-cell;
  vertical-align: middle;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.text-center, p.text-center, .text-center p {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

strong {
  color: #fff;
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cta-row {
  text-align: center;
}

.cta {
  font-family: 'HelveticaNeueMedium';
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  min-width: 196px;
  text-align: center;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.cta:hover {
  box-shadow: 0 0 5px 2px rgba(65,182,230,0.5);
}

.cta:focus {
  outline: none;
}

.modal .modal-body .cta.cta-modal {
  width: 100%;
}


.main-content p {
  margin: 1em 0;
  font-weight: 300;
}

a {
  color: #41B6E6;
}

.main-content h2 {
  text-align: center;
}

.header {
  transition: all 0.2s linear;
  padding: 15px 0;
  background-color: #41B6E6;
}

.header.main-page-header {
  background-color: transparent;
  padding: 40px 0;
}

.header .logo {
  float: left;
}

.header .logo a {
  display: inline-block;
  line-height: normal;
}

.header .logo a img {
  height: 45px;
}

.header .navigation {
  float: right;
}

.header .navigation ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.header .navigation ul li a, .header .navigation ul li button {
  display: block;
  color: #F2F2F2;
  font-family: 'SourceCodePro';
  line-height: 50px;
  font-size: 15px;
  padding: 0 5px;
}

.header .align-center {
  line-height: 50px;
}

.header.sticky-header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.header.main-page-header.header-animate {
  background: #41B6E6;
  padding: 10px 0;
}

.introduction-banner {
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.middle-content {
  padding-top: 132px;
  padding-bottom: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.middle-content img {
  /*display: block;*/
  margin: auto;
}

.middle-content img.bitnation-logo {
  width: 235px;
}

.middle-content img.bitnation-logo-name {
  width: 81px;
}

.middle-content h1 {
  margin: 20px 0;
}

.middle-content .cta-group .cta {
  width: 165px;
}

.middle-content .cta-group .cta {
  margin-right: 15px;
}

.middle-content .cta-group .cta:last-child {
  margin-right: 0;
}

.bitnation-features-main .features-description p:last-child {
  margin-bottom: 20px;
}

.bitnation-features-main .features-box-main h3 {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.04);
}

.bitnation-features-main .features-box-main h3 span {
  background-color: #1c1d21;
  padding: 0 15px;
}

.features-box-title {
  height: 66px;
  width: 100%;
  display: table;
}

.line {
  text-align: center;
  padding-bottom: 12px;
}

.line span {
  height: 4px;
  width: 30px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: middle;
}

.icon-main {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 50%;
  background-color: #12121B;
  margin: 0 auto 10px;
}

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #41B6E6;
}

#icon-quantum {
  background-image: url("../img/icon-quantum.png");
}

#icon-intuitive {
  background-image: url("../img/icon-intuitive.png");
}

#icon-governance {
  background-image: url("../img/icon-governance.png");
}

.bitnation-features-main .features-box-main .feat-more-info a {
  width: 235px;
}

.bitnation-features-main .features-box-main .features-box a {
  color: #41B6E6;
  font-size: 13px;
}

.news-section {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #1C1D21;
  padding: 50px 0 60px;
}

.news-section h2 {
  margin-bottom: 40px;
}

.news-section .row {
  display: flex;
  justify-content: space-between;
}

.news-section .row .col {
  width: 270px;
  color: #FFFFFF;
}

.news-section .img-news {
  height: 135px;
}

.news-section .img-news img {
  width: 100%;
  height: 100%;
}

.news-section .description {
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}

.news-section .date {
  font-size: 10px;
  float: left;
  line-height: 18px;
}

.news-section .title {
  font-size: 12px;
  float: right;
  background-color: #1C1D21;
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
}

.news-section .news-content {
  background-color: #393939;
  height: 140px;
  padding: 15px;
}

.news-section .cta {
  margin-top: 45px;
}

.social-icon-group {
  justify-content: space-between;
}

.social-icon-group .icon-main,
.counter .icon-main {
  width: 95px;
  height: 95px;
}

.team-social-icons {
  padding-top: 5px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}

.team-social-icons .icon {
  margin: 0 2.5px;
}

.social-section .social-icon-group p {
  font-size: 13px;
  color: #ffffff;
}

.social-icon-group .icon,
.counter .icon {
  width: 60px;
  height: 60px;
}

.social-section .icon {
  width: 64px;
  height: 64px;
}

.icon.icon-small {
  width: 24px;
  height: 24px;
}

i.steemit {
  background-image: url("../img/icon-steemit.svg");
}

i.github {
  background-image: url("../img/icon-github.svg");
}

i.twitter {
  background-image: url("../img/icon-twitter.svg");
}

i.linkedin {
  background-image: url("../img/icon-linkedin.svg");
}

i.angellist {
  background-image: url("../img/icon-angellist.svg");
}

i.slack {
  background-image: url("../img/icon-slack.svg");
}

i.facebook {
  background-image: url("../img/icon-facebook.svg");
}

.counter {
  text-align: center;
  font-family: 'SourceCodePro';
}

.counter .number {
  color: #41B6E6;
  font-size: 2.5em;
}

.counter .description {
  color: #ffffff;
  font-size: 1.3em;
}

.icon-citizens {
  background-image: url("../img/icon-citizens.png");
}

.icon-contributors {
  background-image: url("../img/icon-contributors.png");
}

.icon-code {
  background-image: url("../img/icon-code.png");
}

.icon-world {
  background-image: url("../img/icon-world.png");
}

.icon-notary {
  background-image: url("../img/icon-notary.png");
}

.social-icons p {
  text-align: center;
}

.subscriber-section {
  text-align: center;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subscriber-section .form-group {
  position: relative;
}

.subscriber-section #mc_embed_signup_scroll > * {
  display: inline-block;
}

.subscriber-section input[type="text"],.subscriber-section input[type="email"] {
  background: rgba(51, 52, 55, 0.9);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 15px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  width: 504px;
  font-size: 13px;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.subscriber-section input[type="text"]:focus,.subscriber-section input[type="email"]:focus {
  outline: none;
}

input[type="text"],input[type="email"] {
  background: rgba(51, 52, 55, 0.9);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 15px;
  height: 48px;
  line-height: 48px;
  font-size: 13px;
  border: 1px solid transparent;
  color: #FFFFFF;
}

input[type="text"]:focus,input[type="email"]:focus {
  outline: none;
}

label {
  font-size: 16px;
  margin-right: 20px;
}

.footer {
  font-size: 12px;
  color: #003c54;
  background: #41B6E6;
}

.footer .footer-container {
  width: 100%;
  max-width: 930px;
  padding: 25px 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  color: #003c54;
}

.footer span {
  padding: 0 5px;
  color: #363636;
}

.footer img {
  width: 120px;
}

#nav-icon {
  width: 18px;
  height: 12px;
  z-index: 999;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 45px;
  right: 15px;
  display: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 5px;
}

#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

div#terms-and-conditions,div#privacy-policy {
  max-width: 800px;
  max-height: 500px;
  height: 100%;
  position: relative;
}

div#terms-and-conditions div.content,div#privacy-policy div.content {
  position: absolute;
  height: 85%;
  overflow: scroll;
}

div#terms-and-conditions div.content p,div#privacy-policy div.content p {
  margin-right: 5%;
}

.modal {
  max-width: 600px;
  padding: 30px 30px 20px;
  border-radius: 0;
  background: #1c1d21;
  box-shadow: none;
}

.modal p {
  font-size: 13px;
}

.modal p b {
  font-size: 15px;
}

.modal p i {
  font-style: italic;
}

.modal ul {
  padding-left: 20px;
  list-style: disc;
}

.modal ol {
  padding-left: 20px;
}

#terms-and-conditions ol {
  padding-left: 0;
}

.modal ol li {
  font-size: 13px;
}

.modal ul b {
  font-size: 13px;
}

.modal .modal-body {
  height: 415px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal #mce-EMAIL {
  width: 100%;
  text-align: center;
}

.modal .mc-field-group > * {
    display: block;
    margin: 10px 0;
}

.modal label {
  margin-bottom: 12px;
}

.modal .modal-body .form-group label,
.modal .modal-body .form-group input,
.modal .modal-body .form-group button {
  display: block;
  margin: auto;
}


.modal .modal-body .form-group label,
.modal .modal-body .form-group input {
  width: 100%;
  margin: 0 0 16px 0;
}

.modal .modal-body .form-group label {
  text-align: center;
}

.modal .modal-body .cta {
  margin: 10px 0;
  color: #FFFFFF;
}

.modal .modal-body .token-check-condition .row {
  margin-bottom: 25px;
}

.modal .modal-body .token-check-condition .row .col {
  width: 50%;
  float: left;
}

.modal .modal-body .token-check-condition input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
}

.modal .modal-body .token-check-condition input[type="checkbox"] {
  display: none;
}

.modal .modal-body .token-check-condition input[type="checkbox"] + label:before {
  content: '';
  background: #040405;
  border-radius: 1.5px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  border: 1px solid rgba(151, 151, 151, 0.35);
  height: 16px;
  margin-right: 5px;
  text-align: center;
}

.modal .modal-body .token-check-condition input[type="checkbox"]:checked + label:before {
  background: #41B6E6;
}

.modal .modal-body .token-check-condition input[type="checkbox"]:checked + label:after {
  content: "";
  padding: 2px;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: -1px;
  left: 5px;
  float: left;
  margin-top: 3px;
}

.modal .modal-body .token-check-condition label {
  font-size: 10px;
  color: #8D8E90;
}

.modal .modal-body .token-check-condition label span {
  width: 226px;
  vertical-align: top;
  display: inline-block;
}

.modal .modal-body .token-check-condition label span a {
  color: #41B6E6;
}

.modal .content {
  position: absolute;
  height: 85%;
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.buy-pat {
  text-align: center;
}

.buy-pat img {
  width: 80%;
  max-width: 240px;
}

.buy-pat .cta {
  margin-top: 35px;
}

hr {
  border: 0 none;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 18px 0;
}

#icon-market-demand {
  background-image: url("../img/icon-market-demand.png");
}

#icon-fair {
  background-image: url("../img/icon-fair.png");
}

#icon-power {
  background-image: url("../img/icon-power-pangea.png");
}

.pre-sale-phase h4, .token-phase-1 h4 {
  font-family: 'HelveticaNeue';
  margin-bottom: 5px;
}

img.normal-bitnation-logo {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .header .logo a img {
    height: 45px;
  }

  .buy-pat .cta {
    margin-top: 25px;
  }

  .token-content .pre-sale-phase .col-8,  .token-phase-1 .col-8 {
    padding-left: 0 !important;
  }

  .bottom-row > .col-4,  .top-row > .col {
    margin-bottom: 20px;
  }

  body {
    background-attachment: fixed;
    background-size: cover;
    height: auto;
  }

  .header.open {
    background-color: #41b6e6;
  }

  .cta {
    width: 100%;
  }

  h1 {
    font-size: 28px;
  }

  #nav-icon {
    display: block;
  }

  .container {
    padding: 0 15px;
  }

  .header.main-page-header {
    padding: 25px 0;
  }

  .header .navigation {
    display: block;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #41b6e6;
    left: -100%;
    transition: all 0.4s linear;
  }

  .header .navigation ul li {
    display: block;
    margin-left: 0;
  }

  .header-animate #nav-icon {
    top: 30px;
  }

  .header .navigation.open {
    left: 0;
  }

  .header .logo a img {
    width: 110px;
    height: 40px;
  }

  .middle-content {
    padding: 110px 0 50px;
    justify-content: center;
  }

  .middle-content .cta-group .cta {
    width: 100%;
    margin-bottom: 20px;
  }

  .bitnation-features-main .features-box-main {
    margin: 25px 0 0;
  }

  .social-icons {
    width: 100%;
    margin-bottom: 30px;
  }

  .social-icons:last-child {
    margin-bottom: 0;
  }

  .social-section .social-icon-group .icon-main {
    margin: 0 auto 10px;
  }

  .subscriber-section #mc_embed_signup_scroll > * {
    display: block;
  }

  .subscriber-section input {
    width: 100% !important;
  }

  .subscriber-section .cta {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .subscriber-section label {
    margin-bottom: 15px;
    display: block;
  }

  .get-in-touch-section {
    background-size: cover;
    padding: 80px 0 60px;
  }

  .get-in-touch-section .form-group {
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .get-in-touch-section .form-group .form-control {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .get-in-touch-section .form-group .form-control input {
    width: 100%;
  }

  .get-in-touch-section .form-group .form-control .cta {
    width: 100%;
  }

  .get-in-touch-section .contact-us-form {
    margin-top: 25px;
  }

  .footer .footer-container {
    flex-direction: column;
  }

  .social-section .social-icon-group {
    flex-direction: column;
  }

  .footer .footer-logo-wrapper {
    margin-left: 0;
  }

  .footer img {
    margin: 1em 0;
  }

  .bitnation-features-main {
    padding-top: 20px;
  }

  .bitnation-features-main .features-box-main .feat-more-info {
    margin-top: 0;
  }

  .middle-content .cta-group .cta:first-child {
    margin-right: 0;
  }

  .modal .modal-body .token-check-condition .row .col {
    width: 100%;
    margin-bottom: 10px;
  }

  .modal .modal-body .token-check-condition .row {
    margin-bottom: 10px;
  }

  h2 {
    line-height: 150%;
  }
}

.scrollable-content {
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-content p {
  padding-right: 45px;
}

#buy-token .modal-body {
  height: auto;
}

.modal a {
  color: #41B6E6;
}

.c5.c1,.c0 {
  display: inline-block;
  margin-top: 10px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ol {
  width: 100%;
  transition: all 1s;
  text-align: left;
  position: relative;
  height: 304px;
  display: flex;
  align-items: center;
  list-style: none;
}

.timeline ol::before {
  content: '';
  height: 1px;
  background: #41B6E6;
  position: absolute;
  top: 50%;
  width: 97%;
}

.timeline ol::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #0A9084;
  position: absolute;
  right: 25px;
  top: 48%;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 80px;
}

.timeline ol li:last-child {
  width: 85px;
}

.timeline ol li:not(:first-child) {
  margin-left: 38px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(97%);
  bottom: 0;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
  margin: 0 0;
}

.timeline ol li:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(92%);
  bottom: 0;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}

.timeline ol li div.timeline-box {
  position: absolute;
  left: 0;
  width: 160px;
  height: 92px;
  font-size: 1rem;
  white-space: normal;
  background: rgba(14,14,15,0.40);
}

.timeline ol li div.timeline-box::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  height: 0;
}

.timeline ol li:nth-child(even) div.timeline-box {
  box-shadow: 0 -1px 0 0 rgba(255,255,255,0.17);
}

.timeline ol li:nth-child(odd) div.timeline-box {
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.17);
}

.timeline ol li:nth-child(even) div.timeline-box {
  top: -20px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div.timeline-box::before {
  top: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(14,14,15,0.40);
}

.timeline ol li:nth-child(odd) div.timeline-box {
  top: calc(100% + 25px);
}

.timeline ol li:nth-child(odd) div.timeline-box::before {
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(14,14,15,0.40);
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .disabled {
  opacity: .5;
}

/* TEAM
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#team {
  text-align: center;
}

#team .photo {
  max-width: 120px;
  border-radius: 50%;
  margin-bottom: 18px;
}

#team h3 {
  font-size: 17px;
  padding-bottom: 0;
  color: #ffffff;
  line-height: 1.2em;
}

#team .role {
  font-size: 15px;
  font-family: 'SourceCodePro';
  line-height: 1.2em;
}

/* PARTNERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logos-partners {
  justify-content: space-between;
  align-items: center;
}

.logo-partner {
  text-align: center;
}

.logo-partner img {
  max-height: 60px;
}

#abdk {
  max-height: 70px;
}

#e-residency {
  max-height: 80px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 930px) {

  .timeline ol,  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
    display: block;
    height: auto;
  }

  .timeline ol::before,  .timeline ol::after {
    display: none;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div.timeline-box {
    width: 100%;
    height: auto !important;
    margin: 0 auto 50px;
  }

  .timeline ol li div.timeline-box {
    position: static;
  }

  .timeline ol li:nth-child(even) div.timeline-box {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div.timeline-box::before,  .timeline ol li:nth-child(even) div.timeline-box::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 50px;
  }

  .timeline ol li:last-child,  .timeline ol li:nth-last-child(2) div.timeline-box::before,  .timeline ol li:not(:last-child)::after {
    display: none;
  }
}

div.timeline-box .timeline-header {
  height: 58px;
  background: #000000;
  box-shadow: inset 0 1px 0 0 rgba(249,249,249,0.11);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.timeline-box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  height: 100%;
  background-color: rgba(14,14,15,0.40);
  text-align: center;
}



div.timeline-box .timeline-header h3 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'HelveticaNeue';
  line-height: 120%;
}

div.timeline-box .content .date {
  font-size: 10px;
  font-family: 'HelveticaNeueLight';
  color: #FFFFFF;
}

div.timeline-box .content .title {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  font-family: 'HelveticaNeue';
  color: #FFFFFF;
}

div.timeline-box .content .description {
  font-size: 10px;
  color: #8D8E90;
}

div.timeline-box .timeline-header {
  display: none;
}

.token-distribution-phase h2 {
  text-align: center;
}

.row-list ul,.how-to-claim-list {
  list-style: disc;
  padding-left: 15px;
  text-align: left;
  color: #FFFFFF;
}

.row-list ul {
  line-height: 100%;
}

#privacy-policy li {
  line-height: 100%;
  font-size: 13px;
}

button:disabled {
  cursor: not-allowed;
  color: #ccc;
  opacity: 0.4;
}

button:disabled:hover {
  box-shadow: none;
}

.token-address {
  background: rgba(14,14,15,0.68);
  width: 670px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  margin: 0 auto 10px;
  color: #FFFFFF;
}

.token-address a {
  color: #41B6E6;
}

@media screen and (max-width: 767px) {
  .token-address {
    width: 100%;
    height: auto;
    line-height: 100%;
    padding: 10px 0;
  }
}

/*.row-configuration > div{*/

/*padding:0 30px;*/

/*}*/

.row-configuration > div .content {
  background-color: rgba(14,14,15,0.68);
  padding: 20px 20px 30px;
  line-height: 22px;
}

.row-configuration > div:last-child {
  padding-left: 30px;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-center .col {
  width: 50%;
  margin: 0 30px 25px;
  padding: 25px 0;
}

.row-center .col .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-center p {
  font-size: 13px;
}

.row-center .title,.alternative-row .title {
  border: 1px solid #FFFFFF;
  font-size: 11px !important;
  width: 145px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
}

.row-configuration .col > div {
  margin: 0 auto 15px;
}

.wallet-icon {
  margin: 0 auto 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.width100 {
  width: 100%;
}

.bitnation-distributed {
  text-align: left;
  display: flex;
  font-size: 13px;
  margin: 25px auto 50px;
}

.distributed-example {
  text-align: left;
  margin: 25px auto 0;
  background-color: rgba(14,14,15,0.68);
  padding: 22px 0;
  width: 715px;
}

.distributed-example .inner-content {
  width: 616px;
  margin: 0 auto;
  display: flex;
}

.distributed-example ol {
  list-style: decimal;
  margin-left: 70px;
}

.distributed-example li {
  font-size: 13px;
  margin-bottom: 10px;
}

.distributed-example li:last-child {
  margin-bottom: 0;
}

.formula {
  font-style: italic;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.row-configuration {
  margin-top: 50px;
}

.font12 {
  font-size: 12px;
}

.text {
  font-family: "HelveticaNeueLight";
  font-size: 14px;
  text-transform: uppercase;
  color: #E9E9EA;
}

.row-configuration .col-5 .title {
  padding: 10px 0;
  width: 155px;
  text-align: center;
  margin: 15px auto 0;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.font20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .bitnation-distributed,  .distributed-example .inner-content {
    width: 100%;
  }

  .distributed-example .inner-content {
    flex-direction: column;
    padding: 0 10px;
  }

  .distributed-example ol {
    margin-left: 15px;
  }

  .row-content {
    width: 100%;
    flex-direction: column;
  }

  .row-configuration > div:last-child {
    padding-left: 0;
    margin-top: 20px;
  }
}

.modal .information-text {
  font-size: 10px;
}

.main-content ul {
  padding-left: 20px;
  list-style: disc;
}

.main-content i {
  font-style: italic;
}

.main-content ol {
  padding-left: 20px;
}

.main-content ul b {
  font-size: 13px;
}

.row-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.font13 {
  font-size: 13px;
}

.alternative-row {
  margin: 25px 0 40px;
}

.alternative-row .content {
  width: 595px;
  margin: 0 auto;
  padding: 25px 0;
}

.alternative-row .title {
  margin: 0 auto;
}

.how-to-claim-list li span {
  font-size: 15px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}

.fixed-width {
  width: 140px;
}

@media screen and (max-width: 767px) {
  .bitnation-distributed {
    flex-direction: column;
  }

  .row-center .col,  .alternative-row .content {
    width: 100%;
  }

  .distributed-example {
    width: 100%;
  }

  .row-center,  .row-list {
    flex-direction: column;
  }

  .alternative-row .col-4 {
    margin-bottom: 20px;
  }

  .alternative-row .content {
    padding: 25px 10px;
  }

  .alternative-row .col-8 .text-left {
    text-align: center;
  }

  .row-list .col:last-child ul {
    margin-bottom: 0;
  }

  .formula {
    margin-bottom: 10px;
  }

  .row-center .title,  .alternative-row .title {
    width: 115px;
  }

  .row-center .col .row {
    flex-direction: column;
    padding: 0 20px;
  }
}

.white {
  color: #FFFFFF;
}

.scrollable-content .faq-main .faq-main-content {
  padding-top: 0;
}

.scrollable-content .faq-main .faq-main-content p {
  font-size: 13px;
}

code {
  font-family: monospace;
}

.formula-img {
  width: 400px;
  margin: 20px 0;
}

.faq-main .faq-main-content p + p {
  margin-top: 10px;
}

.faq-main .faq-main-content ol {
  margin: 10px 0;
}

.faq-main .faq-main-content table {
  margin: 10px 0;
}

.formula-img.no-margin {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .scrollable-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }

  .scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(216, 216, 216, 0.18);
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .faq-main .faq-main-content table {
    width: 100% !important;
  }

  .formula-img {
    width: 300px;
  }

  .scrollable-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 10px;
  }

  .scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 45px;
    background-color: rgba(216, 216, 216, 0.18);
  }

  .scrollable-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

}

.purchase-agreement-content {
  padding-top: 132px;
}

.purchase-agreement-content a {
  color: #41B6E6;
}

.purchase-agreement-main {
  background: none;
  height: 100%;
}

.news-logo-main {
  margin-top: 90px;
}

.news-logo-main .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-logo-main .row .col {
  margin-left: 35px;
}

.news-logo-main .row .col:first-child {
  margin-left: 0;
}

.nasdaq-logo {
  background: url("../img/nasdaq.png") no-repeat;
  width: 75px;
  height: 25px;
  background-size: 100%;
}

.motherboard-logo {
  background: url("../img/motherboard.png") no-repeat;
  width: 75px;
  height: 25px;
  background-size: 100%;
}

.wired-logo {
  background: url("../img/wired.png") no-repeat;
  width: 75px;
  height: 25px;
  background-size: 100%;
}

.economist-logo {
  background: url("../img/economist.png") no-repeat;
  width: 75px;
  height: 25px;
  background-size: 100%;
}

@media screen and (max-width: 767px) {
  .news-logo-main {
    margin-top: 20px;
  }

  .news-logo-main .row {
    flex-direction: column;
  }

  .news-logo-main .row .col {
    margin-bottom: 30px;
    margin-left: 0;
    text-align: center;
  }

  .news-logo-main .row .col:last-child {
    margin-bottom: 0;
  }

  .news-logo-main .col > div {
    margin: 0 auto;
  }

  .news-section .row {
    flex-direction: column;
  }

  .news-section .row .col {
    width: 100%;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .news-section .row .col {
    margin-left: 15px;
  }

  .news-section .row .col:first-child {
    margin-left: 0;
  }
}

.claim-width-label {
  width: 150px;
}

.claim-width-value {
  font-size: 13px !important;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .claim-width-value {
    width: 100%;
  }
}

.inner-main-content {
  padding-top: 132px;
  background-color: #1c1d21;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .inner-main-content {
    padding-bottom: 50px;
  }
}

.news-page-main .news .date {
  float: left;
}

.news-page-main {
  margin-top: 40px;
}

.news-page-main .news {
  padding: 0 15px;
  margin-bottom: 25px;
}

.news-page-main .news .row {
  border-bottom: 1px solid rgba(255,255,255,0.13);
  padding-bottom: 25px;
}

.news-page-main .news:last-child .row {
  border-bottom: 0 none;
}

.news-page-main .news:last-child {
  border-bottom: 0 none;
}

.news .date {
  font-size: 13px;
}

.news .row .col:last-child {
  width: 609px;
}

.news h3 {
  font-family: "HelveticaNeueMedium";
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.news-page-main-content {
  height: auto;
  padding-bottom: 50px;
}

.more-news {
  margin-top: 30px;
}

.news p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news a {
  color: inherit;
}

.news .col:first-child {
  float: left;
}

.news .col:last-child {
  float: right;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .news-page-main .news .row {
    display: flex;
  }

  .news .row .col:last-child {
    width: 75%;
    padding-left: 30px;
  }

  .news .col:first-child,  .news .col:last-child {
    float: none;
  }
}

@media screen and (max-width: 767px) {
  .news .col:first-child,  .news .col:last-child {
    float: none;
  }

  .news-page-main .news .row {
    display: flex;
  }

  .news-page-main .news .row {
    flex-direction: column;
  }

  .news .row .col:last-child {
    padding-left: 0;
    width: 100%;
  }

  .news-page-main .news {
    padding: 0;
  }
}

/*************************
TOKEN SALE SECTION
*************************/

#token-sale {
  background: url('/img/bg-token.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/*************************
PANGEA SCREENSHOTS SECTION
*************************/
.screenshots-box {
  width: 25%;
  text-align: center;
}

.screenshot {
  width: 195px;
}

@media screen and (max-width: 767px) {
  .screenshots-container {
    flex-wrap: wrap;
  }

  .screenshots-box {
    width: 40%;
  }
}

@media screen and (max-width: 540px) {
  .screenshots-box {
    width: 100%;
  }
}


/*******************
TECHNOLOGIES SECTION
*******************/

.technologies-main h2 {
  color: #41B6E6;
}

.tech-logo-box {
  text-align: center;
}

.tech-logo {
  width: 100px;
}




/* VIDEO SECTION */

.video-section {
  background-color: #41B6E6;
}

.video-section h2 {
  color: #ffffff;
}

.video-section p {
  color: #003c54;
}

.video-section .row {
  display: flex;
  justify-content: space-between;
}

.video-section .row .col:last-child {
  width: 55%;
}

.video-section .row .col:first-child {
  width: 45%;
}

.video-section .row .col:last-child {
  padding-left: 40px;
}

.video-section .row .col:last-child h2 {
  margin-bottom: 25px;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .video-section .row .col:first-child,  .video-section .row .col:last-child {
    width: 100%;
  }

  .video-section .row {
    flex-direction: column;
  }

  .video-section .row .col:last-child {
    padding-left: 0;
  }

  .video-section iframe {
    padding-top: 0;
  }
}

.docs h2 {
  margin-top: 1em;
}

.light-blue {
  background: #41B6E6;
  color: #003c54;
}

.light-blue h2 {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .devcon-speakers h3, .devcon-speakers .speaker-ph {
    text-align: center;
  }
}

.devcon-speakers img{
  border: solid 4px #41B6E6;
  border-radius: 50%;
  width: 140px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#devcon-map {
  height: 300px;
}

.section.intro {
  text-align: center;
}

.btns .col-4 {
  text-align: center;
}

.announcement .btn {
  margin: 24px 0;
}

.announcement h3, .announcement ul {
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .icon {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 138px;
  z-index: 1;
  right: 0;
  background-color: #41B6E6;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown button {
  padding: 12px 16px;
  display: block;
  color: #41B6E6;
  -webkit-appearance: none;
  border-radius: 0;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown:hover {
  background-color: #41B6E6;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-top: none;
}

@media screen and (max-width:767px) {
  .dropdown-content {
    margin-bottom: 50px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    border-top: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
  }

  .header .navigation ul li button {
    line-height: 50px;
  }

  .open.header .navigation.open {
    min-height: 100%;
  }

  .open .header .align-center {
    height: auto;
  }

  .navigation.open {
    position: static;
  }
  .header.open .align-center {
    height: auto;
  }
  .header.sticky-header.main-page-header.open {
    height: 100vh;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.past-event {
  padding: 5px;
}

.past-event img {
  margin: auto;
}

.slick-dots li button::before,
.slick-dots li.slick-active button::before {
  color: #ffffff;
}

.conter .fa {
  display: block;
}

.announcement, .disclaimer {
  text-transform: uppercase;
  color: #41B6E6;
  text-align: center;
}

.cta.featured {
  background-color: #41B6E6;
}

.cta.full-width {
  width: 100%;
}

.white {
  color: #ffffff;
}

#presale-open {
  margin-bottom: 30px;
}